---
layout: default
title: homepage

---
    <!-- Main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div id="main-wrapper">
        <div id="main-inner-wrapper">
            
            <h2 class="alt">AANA PRESENTS</h2>
            
            <div id="main-title">
                <!-- top lines -->
                <div class="block-line horizontal" style="width:80px; margin-left:-16%; margin-top:-24%;"></div>
                <div class="block-line horizontal" style="width:450px; margin-left:8%; margin-top:-24%;"></div>
                <div class="block-line vertical" style="height:80px; margin-left:-16%; margin-top:-24%;"></div>
                <img src="img/logo.gif" id="reset" class="site-title" width="100%" />
                <h4>DISRUPT YOUR APPROACH</h4>
                <h4>TO MARKETING</h4>
            </div>
            
            <div id="main-details">
                <!-- left line -->
                <div class="block-line vertical" style="height:400px; margin-left:-25%; margin-top:0%;"></div>
                <h3>Tuesday</h3>
                <h3>25 October 2016</h3>
                <h3>Royal Randwick</h3>
                <h3>Racecourse, Sydney</h3>
                <input id="main-register-button" type="button" value="REGISTER TODAY"/>
            </div>

            <div id="main-speakers">
                <div id="main-speakers-col-1">
                    <span class="speaker-name">Brad Jakeman</span>
                    <span class="speaker-position alt">President,</span>
                    <span class="speaker-position">PepsiCo Global Beverage Group</span>

                    <span class="speaker-name">Sarah Wood</span>
                    <span class="speaker-position alt">Co-founder and Co-CEO,</span>
                    <span class="speaker-position">Unruly</span>
                    
                    <span class="speaker-name">Monica Lewinsky</span>
                    <span class="speaker-position alt">Social activist, public speaker</span>
                    <span class="speaker-position">and writer</span>

                    <span class="speaker-name">Lindsay Pattison</span>
                    <span class="speaker-position alt">Chief Executive Officer,</span>
                    <span class="speaker-position">Maxus Worldwide</span>

                    <span class="speaker-name">Adam Morgan</span>
                    <span class="speaker-position alt">Founder,</span>
                    <span class="speaker-position">eatbigfish</span>
                </div>
            </div>
            
            <div id="right-and-bottom-lines">
                <!-- right lines -->
                <div class="block-line vertical" style="height:60px; margin-left:95%; margin-top:-38%;"></div>
                <div class="block-line vertical" style="height:120px; margin-left:95%; margin-top:-30%;"></div>

                <!-- bottom lines -->
                <div class="block-line horizontal" style="width:250px; margin-left:8%; margin-top:-10%;"></div>
                <div class="block-line horizontal" style="width:30px; margin-left:8%; margin-top:-6%;"></div>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>

    <!-- Event Summary ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <a name="event"></a>
    <div id="event-summary-wrapper" class="section-wrapper">
        <div class="section-inner-wrapper">
            <h1>EVENT SUMMARY</h1>

            <p>RESET shouldn't be missed by any marketer. It's an exciting opportunity to be inspired by leading international speakers primed to disrupt your thinking and equip you to confront your everyday challenges. Now and into the future.</p>

            <p>AANA has curated these thought-provoking sessions to encourage marketers to disrupt their thinking for the year ahead. It’s an inspirational networking event that’s sure to challenge the way you think about accepted marketing practices.</p>

            <p>Register now to amplify your creativity, awaken your innovative thinking and RESET your marketing team for 2017.</p>
        </div>
        
        <div>
            <div class="block-line horizontal alt" style="width:300px; margin-left:20%; margin-top:1%;"></div>
        </div>
        
        <div class="clear"></div>
    </div>

    <!-- Speakers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <a name="speakers"></a>
    <div id="speakers-wrapper" class="section-wrapper">
        <div class="section-inner-wrapper">
            <h1>SPEAKERS</h1>

            <div>
                <div class="block-line horizontal" style="width:60px; left:50%; margin-left:108%; margin-top:-60px;"></div>
                <div class="block-line vertical" style="height:60px; left:50%; margin-left:111%; margin-top:-60px;"></div>
            </div>

		{% for post in site.posts %}
        
           <!-- {% assign loopindex = forloop.index | modulo: 2 %}-->
            
            <div class="speaker-wrapper">
            {% assign loopindex = forloop.index | modulo: 2 %}
            
            {% if loopindex == 0 %}
   				<div class='left speaker-image-wrapper'>
                    <img class="left" src="{{ post.img2 }}"/>
                    <!--<p>if{{ forloop.index }}{{loopindex}}</p>-->
                
			{% else %}
   				<div class='right speaker-image-wrapper'>
                    <img class="right" src="{{ post.img2 }}"/>
                    <!--<p>itself{{ forloop.index }}</p>-->
                
			{% endif %}
                </div>
                
                <div class="left speaker-details">
                    <span class="speaker-name">{{ post.title }}</span>
                    <span class="speaker-position">{{ post.author }}<br/>{{ post.description }}</span>
                    <input type="button" class="read-more" value="Read more"/>
                </div>
                <div class="speaker-bio">
                    <div class="speaker-bio-container">
                        {{ post.content }}
                    </div>
                </div>
            </div>
            
         
         {% endfor %}

            	
            
        </div>
    </div>

<!-- Details ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<a name="details"></a>
<div id="details-wrapper" class="section-wrapper">
    <div class="section-inner-wrapper">
        <h1>DETAILS</h1>
        <hr/>

        <!-- Date -->
        <img id="date-icon" src="img/details-date-icon.png" alt="date icon"/>
        <h2>DATE</h2>
        <p><strong>Tuesday 25 October 2016</strong></p>

        <!-- Agenda -->
        <img src="img/details-agenda-icon.png" alt="agenda icon"/>
        <h2>AGENDA</h2>
        <div class="left">
            <p>7:45AM</p>
            <p>8:25AM</p>
            <p>5:00PM</p>
        </div>
        <div class="right">
            <p>Registration</p>
            <p>Opening Remarks</p>
            <p>Drinks</p>
        </div>

        <p class="clear">

            <p>The full programme will be provided to delegates at registration.</p>

            <!-- Location -->
            <img src="img/details-location-icon.png" alt="location icon"/>
            <h2>LOCATION</h2>
            <p>
                <strong>Royal Randwick Racecourse</strong>
                <a target="_blank" class="map-link green-link" href="https://www.google.com/maps/place/Royal+Randwick+Racecourse/@-33.9125794,151.2306446,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12b1f42c88a145:0xf017d68f9f2a0b0?hl=en">(map)</a><br/>
                The Ballroom, Level 2<br/>
                Alison Road <br />Randwick NSW
            </p>

            <!-- Pricing -->
            <img src="img/details-pricing-icon.png"alt="pricing icon"/>
            <h2>PRICING</h2>

            <ul>
                <li>
                    <p>Ticket costs include refreshments and lunch.</p>
                </li>
                <li>
                    <p>Read the Terms & Conditions <a id="details-tandcs-link" class="green-link" target="_blank" href="pdf/Terms%20and%20Conditions.pdf">here.</a></p>
                </li>
                <li>
                    <p>To access the AANA Member rate you must be a member of the Australian Association of National Advertisers.</p>
                </li>
            </ul>
            
            <div id="pricing-table">
                <div class="price-column">
                    <div class="price-header">AANA Member</div>
                    <div class="price">$950</div>
                </div>

                <div class="price-column">
                    <div class="price-header">Table of 10 AANA Members</div>
                    <div class="price">$8,500</div>
                </div>

                <div class="price-column">
                    <div class="price-header">Non-AANA Member</div>
                    <div class="price">$1,250</div>
                </div>

                <div class="price-column">
                    <div class="price-header">Table of 10 Non-AANA Members</div>
                    <div class="price">$11,500</div>
                </div>
            </div>

            <div class='clear'></div>
            <p id="gst">Prices displayed include GST but exclude 2% credit card processing fee.</p>

            <div class="center">
                <input id="details-register-button" type="button" value="REGISTER TODAY"/>
            </div>
        </div>
    
        <div>
            <div class="block-line horizontal alt" style="width:100px; left:50%; margin-left:20%; margin-top:-1500px;"></div>
            <div class="block-line vertical alt" style="height:400px; left:50%; margin-left:20%; margin-top:-1500px;"></div>
            <div class="block-line vertical alt" style="height:100px; left:50%; margin-left:75%; margin-top:-1000px;"></div>
            <div class="block-line horizontal alt" style="width:300px; left:50%; margin-left:70%; margin-top:-10px;"></div>
        </div>
    </div>

    <!-- Sponsors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <a name="sponsors"></a>
    <div id="sponsors-wrapper" class="section-wrapper">
        <div class="section-inner-wrapper">
            <h1>SPONSORS</h1>
            <hr class="alt"/>

            <h2>MAJOR SPONSORS</h2>
            <a target="_blank" href="http://www.groupm.com/"><img src="img/sponsor-groupm.png"/></a>
            <a target="_blank" href="http://www.newscorpaustralia.com/"><img src="img/sponsor-newscorp.png"/></a>
            <a target="_blank" href="http://www.nineentertainment.com.au/"><img src="img/sponsor-nine.png"/></a>
            <a target="_blank" href="http://www.newscorpaustralia.com/newslifemedia"><img src="img/sponsor-newslife.png"/></a>
            <a target="_blank" href="http://www.valmorgan.com.au/"><img src="img/sponsor-valmorgan.png"/></a>
            <a target="_blank" href="http://www.oohmedia.com.au/ "><img src="img/sponsor-ooh.png"/></a>
            <a target="_blank" href="https://www.imagination.com/"><img src="img/sponsor-imagination.png"/></a>
            <a target="_blank" href="https://www.lionco.com/"><img src="img/sponsor-lion.png" style="height:88px"/></a>
            <a target="_blank" href="http://ogilvy.com.au/"><img src="img/sponsor-ogilvy.png"/></a>
            <hr/>

            <h2>CREATIVE PARTNER</h2>
            <a target="_blank" href="http://www.whybintbwasydney.com.au/"><img src="img/sponsor-tbwa.png"/></a>

            <hr/>

            <h2>AANA STRATEGIC PARTNERS</h2>
            <a target="_blank" href="http://kojo.com.au/"><img src="img/sponsor-kojo.png"/></a>
            <a target="_blank" href="http://respublica.com.au/"><img src="img/sponsor-respublica.png"/></a>

            <p>RESET represents an opportunity to connect with Australia's leading marketers from the country's most recognised brands. It's a partnership opportunity not to be missed. Please <strong><a target="_blank" class="green-link" href="mailto:lucy@aana.com.au">contact the AANA</a></strong> for sponsorship opportunities.</p>
        </div>
    </div>

    <!-- Contact ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <a name="contact"></a>
    <div id="contact-wrapper" class="section-wrapper">
        <div class="section-inner-wrapper">
            <h1>CONTACT</h1>
            <hr/>

            <p>For registrations and conference enquiries contact:</p>

            <p>
                <strong>The AANA team</strong><br/>
                t: +61 2 9221 8088<br/>
                e: <a target="_blank" class="purple-link" href="mailto:reset@aana.com.au">reset@aana.com.au</a><br/>
            </p>

            <p>For sponsorship opportunities contact:</p>

            <p>
                <strong>Lucy McKee</strong><br/>
                General Manager, Marketing Communications<br/>
                t: +61 2 9221 8088<br/>
                m: +61 (0)407 391 229<br/>
                e: <a target="_blank" class="purple-link" href="mailto:lucy@aana.com.au">lucy@aana.com.au</a><br/>
            </p>

            <p>For media enquiries, please contact:</p>

            <p>
                <strong>Gabriel McDowell</strong><br/>
                Res Publica<br/>
                t: +61 2 8297 1515<br/>
                e: <a target="_blank" class="purple-link" href="mailto:gmcdowell@respublica.com.au">gmcdowell@respublica.com.au</a><br/>
            </p>

        </div>
    </div>

    <!-- Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    