<!DOCTYPE HTML>
<html>
<head>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="A day of disruptive marketing. RESET is your chance to be inspired by legendary international marketers who are set to disrupt your thinking and confront the marketing status quo."/>
    <meta name="keywords" content="marketing, advertising, disruptive, disruption, inspire, confront, inspiration, rethink, conference, brand, branding, sales, innovation, innovate, awaken, creativity, technology, tbwa,australia, australian advertising, australian association of national advertisers, aana, whybin tbwa"/>

    <!-- Meta - Facebook -->
    <meta property="og:title" content="AANA presents RESET"/>
    <meta property="og:description" content="A day of disruptive marketing. RESET is your chance to be inspired by legendary international marketers who are set to disrupt your thinking and confront the marketing status quo."/>
    <meta property="og:url" content="http://aana.com.au/reset">
    <meta property="og:image" content="img/facebook.jpg"/>
    <meta property="og:type" content="website"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" />

    <!-- Title -->
    <title>AANA presents RESET</title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" type='text/css' href="css/main.css">
    <!-- <link rel="stylesheet" type='text/css' href="css/main.min.css"> -->
</head>
<body>
    <!-- Navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div id="navigation-wrapper">
        <div id="navigation-bg"></div>
        <div id="navigation-inner-wrapper">
            <a id="aana-logo-link" target="_blank" href="http://aana.com.au"><img id="aana-logo" src="img/aana-logo.png" alt="AANA logo"/></a>
            <span id="presents">PRESENTS</span>
            <a id="navigation-toggle-button" href="#"><span></span></a>
            <input id="navigation-register-button" type="button" value="REGISTER TODAY"/>
            <span id="menu-buttons-wrapper">
                <a href="#event">EVENT</a>
                <a href="#speakers">SPEAKERS</a>
                <a href="#details">DETAILS</a>
                <a href="#sponsors">SPONSORS</a>
                <a href="#contact">CONTACT</a>
            </span>
        </div>
    </div>
    
    <div id="navigation-spacer">
    </div>
    